<IfModule mod_rewrite.c>
Options -Indexes

RewriteEngine On
RewriteBase /ci_hpp_cogs
#RewriteCond %{REQUEST_URI} ^system.*
#RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /ci_hpp_cogs/index.php?/$1 [L]
</IfModule>
